USE [master]
GO
/****** Object:  Database [PlayListDemo]    Script Date: 15-07-2023 18:37:12 ******/
CREATE DATABASE [PlayListDemo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PlayListDemo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019\MSSQL\DATA\PlayListDemo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PlayListDemo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQL2019\MSSQL\DATA\PlayListDemo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PlayListDemo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PlayListDemo]
GO
/****** Object:  Table [dbo].[Playlists]    Script Date: 15-07-2023 18:37:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlists](
	[ListId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoAndList]    Script Date: 15-07-2023 18:37:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoAndList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VideoId] [int] NULL,
	[ListId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 15-07-2023 18:37:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Vid] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NULL,
	[src] [varchar](max) NULL,
	[thumbnailsrc] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Vid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Playlists] ON 

INSERT [dbo].[Playlists] ([ListId], [Name]) VALUES (2, N'Rest Api')
INSERT [dbo].[Playlists] ([ListId], [Name]) VALUES (3, N'Angular testing')
SET IDENTITY_INSERT [dbo].[Playlists] OFF
GO
SET IDENTITY_INSERT [dbo].[VideoAndList] ON 

INSERT [dbo].[VideoAndList] ([Id], [VideoId], [ListId]) VALUES (1, 1, 2)
INSERT [dbo].[VideoAndList] ([Id], [VideoId], [ListId]) VALUES (2, 2, 2)
INSERT [dbo].[VideoAndList] ([Id], [VideoId], [ListId]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[VideoAndList] OFF
GO
SET IDENTITY_INSERT [dbo].[Videos] ON 

INSERT [dbo].[Videos] ([Vid], [Title], [src], [thumbnailsrc]) VALUES (1, N'Rest Api 1', N'https://extra-task-playlist.s3.ap-south-1.amazonaws.com/Videos/15-07-2023 15:59:02learn restful api in asp.net core full course for beginners[tutorial] in hindi _ day-1 - copy.mp4', N'https://media.geeksforgeeks.org/wp-content/cdn-uploads/20230630120346/What-is-REST-API.png')
INSERT [dbo].[Videos] ([Vid], [Title], [src], [thumbnailsrc]) VALUES (2, N'Rest API 2', N'https://extra-task-playlist.s3.ap-south-1.amazonaws.com/Videos/15-07-2023+15%3A59%3A02learn+restful+api+in+asp.net+core+full+course+for+beginners%5Btutorial%5D+in+hindi+_+day-1+-+copy.mp4', N'https://media.geeksforgeeks.org/wp-content/cdn-uploads/20230630120346/What-is-REST-API.png')
INSERT [dbo].[Videos] ([Vid], [Title], [src], [thumbnailsrc]) VALUES (3, N'Rest API 3', N'https://extra-task-playlist.s3.ap-south-1.amazonaws.com/Videos/learn+restful+api+in+asp.net+core+full+course+for+beginners%5Btutorial%5D+in+hindi+_+day-1.mp4', N'https://media.geeksforgeeks.org/wp-content/cdn-uploads/20230630120346/What-is-REST-API.png')
SET IDENTITY_INSERT [dbo].[Videos] OFF
GO
ALTER TABLE [dbo].[VideoAndList]  WITH CHECK ADD FOREIGN KEY([ListId])
REFERENCES [dbo].[Playlists] ([ListId])
GO
ALTER TABLE [dbo].[VideoAndList]  WITH CHECK ADD FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Vid])
GO
/****** Object:  StoredProcedure [dbo].[_sp_getList]    Script Date: 15-07-2023 18:37:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[_sp_getList]
AS
select v.Title,v.thumbnailsrc,v.src,v.Vid,list.ListId,list.[Name] from Videos as v join (select vl.VideoId,vl.ListId,p.[Name] from 
VideoAndList as vl join Playlists as p on vl.ListId=p.ListId) as list  on v.Vid=list.VideoId
GO
USE [master]
GO
